@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
}

:root {
  --raleway: "Raleway", sans-serif;
  --opensans: "Open Sans", sans-serif;
  --darblue: #011826;
  --orange: #ff9a16;
  --white: #fff;
  --black: #000;
  --red: #e7174a;
}

p {
  font-family: var(--opensans);
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
}

h1,
h2 {
  font-family: var(--raleway);
  font-size: 36px;
  font-weight: 700;
  color: var(--white);
}

h3 {
  font-family: var(--raleway);
  font-size: 21px;
  font-weight: 700;
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--opensans);
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
.active {
  color: var(--red);
}
#index {
  background-color: var(--darblue);
  .active {
    color: var(--red);
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      img {
        width: 180px;
      }
    }
    nav {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        gap: 10px;
        li {
          a {
            padding: 10px;
            font-size: 16px;
            font-weight: 400;
            color: var(--orange);
            transition: all 0.2s ease;
            &:hover {
              color: var(--red);
            }
          }
          &:nth-child(6) a {
            padding: 5px;
            color: var(--white);
            background-color: var(--orange);
          }
        }
      }
    }
    .burger {
      display: none;
    }
  }
  main {
    margin-top: 100px;
    #kisuije {
      display: grid;
      grid-template-columns: 57% 43%;
      article {
        margin-right: 190px;
        h1 {
          margin: 20px 0;
        }
        button {
          margin-top: 15px;
          padding: 5px 10px 20px 10px;
          color: var(--white);
          background-color: var(--orange);
          border: none;
          font-family: var(--opensans);
          font-size: 16px;
          font-weight: 400;
          cursor: pointer;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    #formation {
      margin-top: 100px;
      h2 {
        text-align: center;
        padding-bottom: 50px;
      }
      #formation-container {
        width: 1140px;
        margin: 0 auto;
        #article1 {
          display: grid;
          grid-template-columns: 70% 30%;
          margin-bottom: 150px;
          img {
            width: 100%;
          }
          > div {
            align-content: center;
            z-index: 1;
            .background {
              background: var(--orange);
              padding: 40px;
              margin-left: -100px;
              p {
                padding-top: 30px;
              }
            }
            div {
              padding: 0 40px;
              margin-left: -100px;
              a {
                display: flex;
                justify-self: center;
                background: #011826;
                border: 1px solid var(--white);
                padding: 10px 15px;
                margin-top: -25px;
              }
            }
          }
        }
        #article2 {
          display: grid;
          grid-template-columns: 30% 70%;
          margin-bottom: 100px;
          img {
            width: 100%;
          }
          > div {
            align-content: center;
            z-index: 1;
            .background {
              background: var(--orange);
              padding: 40px;
              margin-right: -100px;
              p {
                padding-top: 30px;
              }
            }
            div {
              padding: 0 40px;
              margin-right: -100px;
              a {
                display: flex;
                justify-self: center;
                background: #011826;
                border: 1px solid var(--white);
                padding: 10px 15px;
                margin-top: -25px;
              }
            }
          }
        }
      }
    }
    #competence {
      h2 {
        text-align: center;
        padding-bottom: 50px;
      }
      .competence-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        details {
          background-color: var(--white);
          margin-bottom: 30px;
          summary {
            list-style: none;
            padding: 15px 10px 12px 10px;
            font-size: 16px;
            font-weight: 400;
            h3 {
              color: var(--orange);
              width: fit-content;
              padding-bottom: 15px;
              border-bottom: 2px solid var(--red);
            }
          }
          ul {
            li {
              padding: 5px 0;
              font-size: 16px;
              font-weight: 400;
              color: var(--black);
            }
          }
        }
      }
    }
    #projet {
      margin-top: 100px;
      margin-bottom: 50px;
      > div {
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          padding: 10px 15px;
          border: 1px solid var(--white);
        }
      }
      #projet-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        margin: 0;
        div {
          article {
            padding: 25px 15px 0 15px;
            border: 1px solid var(--white);
            img {
              width: 100%;
              height: 180px;
              object-fit: cover;
            }
            h3 {
              padding: 15px 0;
            }
          }
          a {
            padding: 10px 15px;
            border: 1px solid var(--white);
            display: flex;
            margin: 25px 15px;
            justify-self: left;
          }
        }
      }
    }
  }
  footer {
    padding: 15px 0;
    text-align: center;
    background-color: #2cc1aa;
  }
}
#formation {
  background-color: var(--darblue);
  .active {
    color: var(--red);
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      img {
        width: 180px;
      }
    }
    nav {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        gap: 10px;
        li {
          a {
            padding: 10px;
            font-size: 16px;
            font-weight: 400;
            color: var(--orange);
            transition: all 0.2s ease;
            &:hover {
              color: var(--red);
            }
          }
          &:nth-child(6) a {
            padding: 5px;
            color: var(--white);
            background-color: var(--orange);
          }
        }
      }
    }
    .burger {
      display: none;
    }
  }
  main {
    #alacarte {
      background-color: #e7174a;
      padding: 200px 0;
      h1 {
        text-align: center;
        padding-bottom: 30px;
      }
      p {
        text-align: center;
      }
    }
    #description {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 100px 0;
      article {
        align-content: center;
        padding-right: 100px;
        h2 {
          padding-bottom: 20px;
        }
      }
      img {
        width: 680px;
        height: 100%;
        object-fit: cover;
      }
    }
    #competence {
      h2 {
        text-align: center;
        padding-bottom: 50px;
      }
      .competence-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        details {
          background-color: var(--white);
          margin-bottom: 30px;
          summary {
            list-style: none;
            padding: 15px 10px 12px 10px;
            font-size: 16px;
            font-weight: 400;
            h3 {
              color: var(--orange);
              width: fit-content;
              padding-bottom: 15px;
              border-bottom: 2px solid var(--red);
            }
          }
          ul {
            li {
              padding: 5px 0;
              font-size: 16px;
              font-weight: 400;
              color: var(--black);
            }
          }
        }
      }
    }
    #projet {
      margin-top: 100px;
      h2 {
        padding-bottom: 50px;
      }
      #projet-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        margin: 0;
        div {
          article {
            padding: 25px 15px 0 15px;
            border: 1px solid var(--white);
            img {
              width: 100%;
              height: 180px;
              object-fit: cover;
            }
            h3 {
              padding: 15px 0;
            }
          }
          a {
            padding: 10px 15px;
            border: 1px solid var(--white);
            display: flex;
            margin: 25px 15px;
            justify-self: left;
          }
        }
      }
      a {
        padding: 10px 15px;
        border: 1px solid var(--white);
        display: flex;
        margin: 25px 15px;
        justify-self: center;
      }
    }
  }
  footer {
    padding: 15px 0 135px 0;
    text-align: center;
    background-color: #2cc1aa;
  }
}

@media screen and (max-width: 1024px) {
  #index {
    header {
      nav {
        display: none;
      }
      .burger {
        display: flex;
        color: var(--white);
      }
    }
    main {
      #kisuije {
        display: grid;
        grid-template-columns: 1fr;
        article {
          margin-right: 0;
          margin-bottom: 30px;
        }
        img {
          width: 369px;
          height: 100%;
          object-fit: cover;
          margin: auto;
        }
      }
      #formation {
        #formation-container {
          width: 100%;
          margin: 0 auto;
          #article1 {
            img {
              width: 100%;
              align-self: center;
            }
          }
          #article2 {
            img {
              width: 100%;
              align-self: center;
            }
          }
        }
      }
      #projet {
        #projet-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
          div:nth-child(3) {
            grid-column: span 2;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #index {
    h1,
    h2 {
      font-size: 27px;
    }
    main {
      #kisuije {
        img {
          width: 261px;
        }
      }
      #formation {
        #formation-container {
          #article1 {
            display: grid;
            grid-template-columns: 1fr;
            margin-bottom: 150px;
            img {
              width: 203px;
              justify-self: center;
            }
            > div {
              .background {
                margin-left: 0;
              }
              div {
                a {
                  justify-self: end;
                }
              }
            }
          }
          #article2 {
            grid-template-columns: 1fr;
            > div {
              order: 2;
              .background {
                margin-right: 0;
              }
            }
            img {
              width: 203px;
              justify-self: center;
              order: 1;
            }
          }
        }
      }
      #competence {
        #competence-container {
          grid-template-columns: 1fr;
          gap: 0;
          div {
            details {
              summary {
                h3 {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
      #projet {
        > div {
          flex-direction: column;
          gap: 25px;
          margin-bottom: 20px;
        }
        #projet-container {
          grid-template-columns: 1fr;
          > div {
            flex-direction: column;
            gap: 25px;
          }
          div:nth-child(3) {
            grid-column: span 1;
          }
        }
      }
    }
  }
}
