@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --raleway: "Raleway", sans-serif;
  --opensans: "Open Sans", sans-serif;
  --darblue: #011826;
  --orange: #ff9a16;
  --white: #fff;
  --black: #000;
  --red: #e7174a;
}

@keyframes fadeInBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes img {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}

p {
  font-family: var(--opensans);
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
}

h1,
h2 {
  font-family: var(--raleway);
  font-size: 36px;
  font-weight: 700;
  color: var(--white);
}

h3 {
  font-family: var(--raleway);
  font-size: 21px;
  font-weight: 700;
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--opensans);
  font-size: 16px;
  font-weight: 400;
  transition: test 0.2s ease;
  &:hover {
    background-color: var(--red);
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
.active {
  color: var(--red);
}
#modal-toggle {
  display: none;
}
.modal {
  display: none;
  position: absolute;
  top: 3%;
  left: 75%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 40px 15px 15px 15px;
  border-radius: 16px;
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    position: relative;
    h2 {
      color: var(--black);
      font-size: 24px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      label {
        font-family: var(--opensans);
        font-size: 14px;
      }
      button {
        background-color: var(--darblue);
        color: var(--white);
        border: none;
        padding: 5px;
        transition: all 0.2s ease;
        &:hover {
          background-color: var(--red);
        }
      }
    }
  }
  .close-button {
    color: var(--orange);
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
  }
}
#modal-toggle:checked ~ .modal {
  display: flex;
}
#index {
  background-color: var(--darblue);
  .active {
    color: var(--red);
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      background-color: transparent;
      img {
        width: 180px;
      }
    }
    nav {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        gap: 10px;
        li {
          a {
            opacity: 0;
            animation: fadeInBottom 0.6s ease-out forwards;
            padding: 10px;
            font-size: 16px;
            font-weight: 400;
            color: var(--orange);
            transition: all 0.2s ease;
            &:hover {
              color: var(--red);
              background-color: transparent;
            }
          }
          &:nth-child(1) a {
            animation-delay: 0.2s;
          }
          &:nth-child(2) a {
            animation-delay: 0.4s;
          }
          &:nth-child(3) a {
            animation-delay: 0.6s;
          }
          &:nth-child(4) a {
            animation-delay: 0.8s;
          }
          &:nth-child(5) a {
            animation-delay: 1s;
          }
          .open-button {
            opacity: 0;
            animation: fadeInBottom 0.6s ease-out forwards;
            animation-delay: 1.2s;
            font-family: var(--opensans);
            background: var(--orange);
            color: white;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.2s ease;
            &:hover {
              background: var(--red);
            }
          }
        }
      }
    }
    .burger {
      display: none;
    }
  }
  main {
    margin-top: 100px;
    #kisuije {
      display: grid;
      grid-template-columns: 57% 43%;
      article {
        opacity: 0;
        animation: fadeInBottom 0.6s ease-out forwards;
        animation-delay: 1.2s;
        margin-right: 190px;
        h1 {
          margin: 20px 0;
        }
        a {
          display: flex;
          justify-self: flex-start;
          margin-top: 10px;
          padding: 5px 10px 20px 10px;
          background-color: var(--orange);
          border: none;
          cursor: pointer;
          transition: all 0.2s ease;
          &:hover {
            background-color: var(--red);
          }
        }
      }
      img {
        transform: scale(0%);
        animation: img 1s ease-out forwards;
        animation-delay: 1.2s;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    #formation {
      margin-top: 100px;
      h2 {
        text-align: center;
        padding-bottom: 50px;
      }
      #formation-container {
        width: 1140px;
        margin: 0 auto;
        #article1 {
          display: grid;
          grid-template-columns: 70% 30%;
          margin-bottom: 150px;
          img {
            width: 100%;
          }
          > div {
            align-content: center;
            z-index: 1;
            .background {
              background: var(--orange);
              padding: 40px;
              margin-left: -100px;
              p {
                padding-top: 30px;
              }
            }
            div {
              padding: 0 40px;
              a {
                display: flex;
                justify-self: center;
                background-color: var(--darblue);
                border: 1px solid var(--white);
                padding: 10px 15px;
                margin-top: -25px;
                transition: all 0.2s ease;
                &:hover {
                  background-color: var(--red);
                }
              }
            }
          }
        }
        #article2 {
          display: grid;
          grid-template-columns: 30% 70%;
          margin-bottom: 100px;
          img {
            width: 100%;
          }
          > div {
            align-content: center;
            z-index: 1;
            .background {
              background: var(--orange);
              padding: 40px;
              margin-right: -100px;
              p {
                padding-top: 30px;
              }
            }
            div {
              padding: 0 40px;
              a {
                display: flex;
                justify-self: center;
                background-color: var(--darblue);
                border: 1px solid var(--white);
                padding: 10px 15px;
                margin-top: -25px;
                transition: all 0.2s ease;
                &:hover {
                  background-color: var(--red);
                }
              }
            }
          }
        }
      }
    }
    #competence {
      h2 {
        text-align: center;
        padding-bottom: 50px;
      }
      .competence-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        details {
          background-color: var(--white);
          margin-bottom: 30px;
          summary {
            list-style: none;
            padding: 15px 10px 12px 10px;
            font-size: 16px;
            font-weight: 400;
            h3 {
              color: var(--orange);
              width: fit-content;
              padding-bottom: 15px;
              border-bottom: 2px solid var(--red);
            }
          }
          ul {
            li {
              padding: 5px 0;
              font-size: 16px;
              font-weight: 400;
              color: var(--black);
            }
          }
        }
      }
    }
    #projet {
      margin-top: 100px;
      margin-bottom: 50px;
      > div {
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          padding: 10px 15px;
          border: 1px solid var(--white);
        }
      }
      #projet-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        margin: 0;
        div {
          article {
            position: relative;
            padding: 25px 15px 0 15px;
            border: 1px solid var(--white);
            .text {
              color: var(--white);
              background-color: var(--darblue);
              padding: 5px 10px;
              font-family: var(--opensans);
              border: 1px solid var(--white);
              position: absolute;
              top: 10%;
              left: 8%;
            }
            img {
              width: 100%;
              height: 180px;
              object-fit: cover;
            }
            h3 {
              padding: 15px 0;
            }
          }
          a {
            padding: 10px 15px;
            border: 1px solid var(--white);
            display: flex;
            margin: 25px 15px;
            justify-self: left;
          }
        }
      }
    }
  }
  footer {
    padding: 15px 0;
    text-align: center;
    background-color: #2cc1aa;
  }
}
#formation {
  background-color: var(--darblue);
  .active {
    color: var(--red);
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      img {
        width: 180px;
      }
    }
    nav {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        gap: 10px;
        li {
          a {
            opacity: 0;
            animation: fadeInBottom 0.6s ease-out forwards;
            padding: 10px;
            font-size: 16px;
            font-weight: 400;
            color: var(--orange);
            transition: all 0.2s ease;
            &:hover {
              color: var(--red);
              background-color: transparent;
            }
          }
          .open-button {
            opacity: 0;
            animation: fadeInBottom 0.6s ease-out forwards;
            animation-delay: 1.2s;
            font-family: var(--opensans);
            background: var(--orange);
            color: white;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            transform: all 0.2s ease;
            &:hover {
              background-color: var(--red);
            }
          }
          &:nth-child(1) a {
            animation-delay: 0.2s;
          }
          &:nth-child(2) a {
            animation-delay: 0.4s;
          }
          &:nth-child(3) a {
            animation-delay: 0.6s;
          }
          &:nth-child(4) a {
            animation-delay: 0.8s;
          }
          &:nth-child(5) a {
            animation-delay: 1s;
          }
        }
      }
    }
    .burger {
      display: none;
    }
  }
  main {
    #alacarte {
      opacity: 0;
      animation: fadeInBottom 0.6s ease-out forwards;
      animation-delay: 0.6s;
      animation-duration: 1s;
      background-color: #e7174a;
      padding: 200px 0;
      h1 {
        text-align: center;
        padding-bottom: 30px;
      }
      p {
        text-align: center;
      }
    }
    #description {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 100px 15px;
      article {
        align-content: center;
        padding-right: 100px;
        h2 {
          padding-bottom: 20px;
        }
      }
      img {
        width: 100%;
        height: 680px;
        object-fit: cover;
      }
    }
    #competence {
      h2 {
        text-align: center;
        padding-bottom: 50px;
      }
      .competence-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        details {
          background-color: var(--white);
          margin-bottom: 30px;
          summary {
            list-style: none;
            padding: 15px 10px 12px 10px;
            font-size: 16px;
            font-weight: 400;
            h3 {
              color: var(--orange);
              width: fit-content;
              padding-bottom: 15px;
              border-bottom: 2px solid var(--red);
            }
          }
          ul {
            li {
              padding: 5px 0;
              font-size: 16px;
              font-weight: 400;
              color: var(--black);
            }
          }
        }
      }
    }
    #projet {
      margin-top: 100px;
      h2 {
        padding-bottom: 50px;
      }
      #projet-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        margin: 0;
        div {
          article {
            position: relative;
            padding: 25px 15px 0 15px;
            border: 1px solid var(--white);
            .text {
              color: var(--white);
              background-color: var(--darblue);
              padding: 5px 10px;
              font-family: var(--opensans);
              border: 1px solid var(--white);
              position: absolute;
              top: 10%;
              left: 8%;
            }
            img {
              width: 100%;
              height: 180px;
              object-fit: cover;
            }
            h3 {
              padding: 15px 0;
            }
          }
          a {
            padding: 10px 15px;
            border: 1px solid var(--white);
            display: flex;
            margin: 25px 15px;
            justify-self: left;
          }
        }
      }
      a {
        padding: 10px 15px;
        border: 1px solid var(--white);
        display: flex;
        margin: 25px 15px;
        justify-self: center;
      }
    }
  }
  footer {
    padding: 15px 0 135px 0;
    text-align: center;
    background-color: #2cc1aa;
  }
}

#projets {
  background-color: var(--darblue);
  .active {
    color: var(--red);
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      img {
        width: 180px;
      }
    }
    nav {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        gap: 10px;
        li {
          a {
            opacity: 0;
            animation: fadeInBottom 0.6s ease-out forwards;
            padding: 10px;
            font-size: 16px;
            font-weight: 400;
            color: var(--orange);
            transition: all 0.2s ease;
            &:hover {
              color: var(--red);
              background-color: transparent;
            }
          }
          .open-button {
            opacity: 0;
            animation: fadeInBottom 0.6s ease-out forwards;
            animation-delay: 1.2s;
            font-family: var(--opensans);
            background: var(--orange);
            color: white;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.2s ease;
            &:hover {
              background: var(--red);
            }
          }
          &:nth-child(1) a {
            animation-delay: 0.2s;
          }
          &:nth-child(2) a {
            animation-delay: 0.4s;
          }
          &:nth-child(3) a {
            animation-delay: 0.6s;
          }
          &:nth-child(4) a {
            animation-delay: 0.8s;
          }
          &:nth-child(5) a {
            animation-delay: 1s;
          }
        }
      }
    }
    .burger {
      display: none;
    }
  }
  main {
    #mesprojets {
      opacity: 0;
      animation: fadeInBottom 0.6s ease-out forwards;
      animation-delay: 0.6s;
      animation-duration: 1s;
      background-color: #e7174a;
      padding: 200px 0;
      h1 {
        text-align: center;
        padding-bottom: 30px;
      }
      p {
        text-align: center;
      }
    }
    #project {
      padding: 100px 15px;
      #projet-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        margin: 0;
        div {
          article {
            position: relative;
            padding: 25px 15px 0 15px;
            border: 1px solid var(--white);
            .text {
              color: var(--white);
              background-color: var(--darblue);
              padding: 5px 10px;
              font-family: var(--opensans);
              border: 1px solid var(--white);
              position: absolute;
              top: 10%;
              left: 8%;
            }
            img {
              width: 100%;
              height: 180px;
              object-fit: cover;
            }
            h3 {
              padding: 15px 0;
            }
          }
          a {
            padding: 10px 15px;
            border: 1px solid var(--white);
            display: flex;
            margin: 25px 15px;
            justify-self: left;
          }
        }
      }
    }
  }
  footer {
    padding: 15px 0 135px 0;
    text-align: center;
    background-color: #2cc1aa;
  }
}

@media screen and (max-width: 1024px) {
  #projets {
    header {
      nav {
        display: none;
      }
      .burger {
        display: flex;
        color: var(--white);
      }
    }
    main {
      #project {
        #projet-container {
          grid-template-columns: 1fr 1fr;
          div {
            article {
              h3 {
                margin-right: 20px;
              }
            }
          }
          div:nth-child(9) {
            grid-column: span 2;
          }
        }
      }
    }
  }
  #formation {
    header {
      nav {
        display: none;
      }
      .burger {
        display: flex;
        color: var(--white);
      }
    }
    main {
      #description {
        grid-template-columns: 1fr;
        article {
          padding-bottom: 50px;
        }
      }
      #projet {
        #projet-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
          div:nth-child(3) {
            grid-column: span 2;
          }
        }
      }
    }
  }
  #index {
    header {
      nav {
        display: none;
      }
      .burger {
        display: flex;
        color: var(--white);
      }
    }
    main {
      #kisuije {
        display: grid;
        grid-template-columns: 1fr;
        article {
          margin-right: 0;
          margin-bottom: 30px;
        }
        img {
          width: 369px;
          height: 100%;
          object-fit: cover;
          margin: auto;
        }
      }
      #formation {
        #formation-container {
          width: 100%;
          margin: 0 auto;
          #article1 {
            img {
              width: 100%;
              align-self: center;
            }
          }
          #article2 {
            img {
              width: 100%;
              align-self: center;
            }
          }
        }
      }
      #projet {
        #projet-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
          div:nth-child(3) {
            grid-column: span 2;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #projets {
    main {
      #project {
        #projet-container {
          grid-template-columns: 1fr;
          div:nth-child(9) {
            grid-column: span 1;
          }
        }
      }
    }
  }
  #formation {
    h1,
    h2 {
      font-size: 27px;
    }
    main {
      #description {
        article {
          padding-right: 0;
        }
        img {
          height: 290px;
        }
      }
      #competence {
        .competence-container {
          grid-template-columns: 1fr;
          gap: 0;
          div {
            details {
              summary {
                h3 {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
      #projet {
        #projet-container {
          grid-template-columns: 1fr;
          div:nth-child(3) {
            grid-column: span 1;
          }
        }
      }
    }
  }
  #index {
    h1,
    h2 {
      font-size: 27px;
    }
    main {
      #kisuije {
        img {
          width: 261px;
        }
      }
      #formation {
        #formation-container {
          #article1 {
            grid-template-columns: 1fr;
            margin-bottom: 150px;
            img {
              width: 203px;
              justify-self: center;
            }
            > div {
              .background {
                margin-left: 0;
              }
            }
          }
          #article2 {
            grid-template-columns: 1fr;
            > div {
              order: 2;
              .background {
                margin-right: 0;
              }
            }
            img {
              width: 203px;
              justify-self: center;
              order: 1;
            }
          }
        }
      }
      #competence {
        .competence-container {
          grid-template-columns: 1fr;
          gap: 0;
          div {
            details {
              summary {
                h3 {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
      #projet {
        > div {
          flex-direction: column;
          gap: 25px;
          margin-bottom: 20px;
        }
        #projet-container {
          grid-template-columns: 1fr;
          > div {
            flex-direction: column;
            gap: 25px;
          }
          div:nth-child(3) {
            grid-column: span 1;
          }
        }
      }
    }
  }
}
